gitignore.txt
share/templates/share/sign_upCOPY.html
share/__init__.py
share/__pycache__/__init__.cpython-37.pyc
share/__pycache__/admin.cpython-37.pyc
share/__pycache__/apps.cpython-37.pyc
share/__pycache__/forms.cpython-37.pyc
share/__pycache__/models.cpython-37.pyc
share/__pycache__/urls.cpython-37.pyc
share/__pycache__/views.cpython-37.pyc
manage.py
templates/registration/login-base-1-delete.html
share/migrations/0001_initial.py
share/migrations/0002_member_profile_member_id.py
share/migrations/0003_remove_member_profile_is_approved.py
share/migrations/0004_auto_20200425_0931.py
share/migrations/0005_auto_20200425_0934.py
share/migrations/0006_auto_20200425_1156.py
share/migrations/__init__.py
share/migrations/__pycache__/0001_initial.cpython-37.pyc
share/migrations/__pycache__/0002_member_profile_member_id.cpython-37.pyc
share/migrations/__pycache__/0003_remove_member_profile_is_approved.cpython-37.pyc
share/migrations/__pycache__/0004_auto_20200425_0931.cpython-37.pyc
share/migrations/__pycache__/0005_auto_20200425_0934.cpython-37.pyc
share/migrations/__pycache__/0006_auto_20200425_1156.cpython-37.pyc
share/migrations/__pycache__/__init__.cpython-37.pyc
community_share/__init__.py
community_share/__pycache__/__init__.cpython-37.pyc
community_share/__pycache__/settings.cpython-37.pyc
community_share/__pycache__/urls.cpython-37.pyc
community_share/__pycache__/wsgi.cpython-37.pyc