gitignore.txt
share/templates/share/sign_upCOPY.html
share/__init__.py
share/__pycache__/__init__.cpython-37.pyc
share/__pycache__/admin.cpython-37.pyc
share/__pycache__/apps.cpython-37.pyc
share/__pycache__/forms.cpython-37.pyc
share/__pycache__/models.cpython-37.pyc
share/__pycache__/urls.cpython-37.pyc
share/__pycache__/views.cpython-37.pyc
manage.py
templates/registration/login-base-1-delete.html
community_share/__init__.py
community_share/__pycache__/__init__.cpython-37.pyc
community_share/__pycache__/settings.cpython-37.pyc
community_share/__pycache__/urls.cpython-37.pyc
community_share/__pycache__/wsgi.cpython-37.pyc
admin/static/favicon.ico
favicon.ico
share/templates/share/COPYcreate_provision_form.html
share/templates/share/DELETEcreate_provision.html
share/COPYforms2.py
share/COPYviews2.py
share/VALIDATE_EXPERIMENTSformscopy.py
share/VALIDATE_EXPERIMENTSviews.py