{% extends "base_generic.html" %}

{% block content %}

<div class="TODO">
</div>
<h1>Login</h1>
{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
  {% else %}
  <h4 class="error">Please login to see this page.</h4>
  {% endif %}
  {% else  %}

  <div class="login-grid">
    <div class="login-left-margin"></div>
    <div class="login-middle">
      <!-- Note that this is the only relevant user error message -->
      <h4 id="form-errors" class="error">
        {% if form.errors %}
        Please enter a correct username and password. <br />Note that
        both fields may be case-sensitive.
      {% endif %}
      </h4>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
          <span class="button-label" >{{ form.username.label_tag }}</span>
          <span>{{ form.username }}</span>
        </div>
        <br>
        <div>
          <span class="button-label">{{ form.password.label_tag }}</span>
          <span>{{ form.password }}</span>
        </div>
        <br>
        <input class="button-submit" style="color:white" type="submit" value="Login" />
      </form>
      <br>
      {# Assumes you setup the password_reset view in your URLconf #}
      <p class="button-submit"><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
    {% endif %}
    <div class="login-right-margin"></div>
  </div>

  {% load staticfiles %}
  <script src="{% static 'share/common.js' %}"></script>
  <script src="{% static 'share/p4login.js' %}"></script>
  {% endblock %}
