{% extends "base_generic.html" %}

{% block content %}

{% if validlink %}
<h1>Please enter (and confirm) your new password.</h1>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <form action="" method="post">
      <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
      </div>
      <p>
        <span>{{ form.new_password1.errors }}
          <label for="id_new_password1">New password:</label></span>
          <span>{{ form.new_password1 }}</span>
        </p>

        <p>
          <span>{{ form.new_password2.errors }}
            <label for="id_new_password2">Confirm password:</label></span>
            <span>{{ form.new_password2 }}</span>
          </p>
          <p>
            <span> </span>
            <span><input type="submit" value="Change my password" /></span>
          </p>
        </form>
      </div>
  <div class="login-right-margin"></div>
</div>

{% else %}
<h1>Password reset failed</h1>
  <div class="login-middle bold-centered">
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  </div>
{% endif %}

  {% endblock %}
