{% extends "base_generic.html" %}

{% block content %}
</div>
<h1>Change Password</h1>
{% if user.is_authenticated %}
  <div class="login-grid">
    <div class="login-left-margin"></div>
    <div class="login-middle">
      <form method="post">
       {% csrf_token %}
       <div>
         <span class="button-label" >{{form.old_password.label_tag}}</span>
         <span>{{form.old_password}}</span>
       </div>
       <div>
         <span class="button-label" >{{form.new_password1.label_tag}}</span>
         <span>{{form.new_password1}}</span>
       </div>
       <div>{{form.new_password1.help_text}}
       </div>
       <div>
         <span class="button-label" >{{form.new_password2.label_tag}}</span>
         <span>{{form.new_password2}}</span>
       </div>
       <br>
       <button type="submit">Change Password</button>
      </form>
     </div>
     <div class="login-right-margin"></div>
   </div>
{% endif %}
{% endblock %}
