{% extends "base_generic.html" %}

{% block content %}
<h1>Password Reset</h1>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <form action="" method="post">{% csrf_token %}
      {% if form.email.errors %}{{ form.email.errors }}{% endif %}
      <p>Your email: {{ form.email }}</p>
      <input type="submit" class='btn btn-default btn-lg' value="Reset password" />
    </form>
  </div>
  <div class="login-right-margin"></div>
</div>
{% endblock %}
