/* Alt - Ctrl - C to watch scss for changes */
/* or cmd-shift P and Atom Sass Compile */
/* reference: https://visme.co/blog/website-color-schemes #4 Cool and Fresh */
/* end reference: https://visme.co/blog/website-color-schemes #3 */
body, html .body {
  font-family: Garamond, serif;
  font-size: 1rem;
  color: #EDF5E1;
  background-color: #5CDB95; }

input, button, textarea, select, text {
  font-family: Garamond, serif;
  font-size: 1rem;
  border-style: solid;
  border-radius: .25rem;
  border-width: 1px;
  border-color: #EDF5E1;
  background-color: #8D8741;
  color: #EDF5E1;
  display: inline-block;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem; }

h1, h2, h3, h4 {
  text-align: center;
  font-family: Helvetica Neue, sans-serif;
  color: #05386B; }

ul {
  list-style-type: none; }

.TODO {
  color: FireBrick; }

.button-submit {
  border-style: solid;
  border-radius: .25rem;
  border-width: 1px;
  background-color: #8D8741;
  color: #EDF5E1;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  margin: .375rem; }

.button-label {
  color: #EDF5E1;
  display: inline-block;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem; }

a {
  text-decoration: none;
  font-family: Garamond, serif;
  color: #EDF5E1;
  font-size: 1rem;
  font-weight: normal; }

a:visited {
  font-family: Garamond, serif;
  color: #EDF5E1;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none; }

.login-grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr; }

.login-left-margin {
  grid-column: 1;
  background-color: #5CDB95;
  padding-top: 1rem; }

.login-right-margin {
  grid-column: 3;
  background-color: #5CDB95;
  padding-top: 1rem; }

.login-middle {
  grid-column: 2;
  text-align: center;
  align-content: center;
  background-color: #379683;
  color: #EDF5E1;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.scroll_provisions {
  height: 33vh;
  overflow: auto; }

#info_a {
  border: 1p;
  background-color: #379683; }

#form_errors_displayed {
  color: #ff697c; }

.error .errorlist {
  color: #ff697c; }

.borders-top-sides {
  border-top-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  border-width: thin;
  margin-bottom: 0; }

.borders-bottom-sides {
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  border-width: thin; }

.borders-sides {
  border-left-style: dotted;
  border-right-style: dotted;
  border-width: thin;
  margin-bottom: 0; }

.bold-centered {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: .75rem; }

.button-centered {
  text-align: center;
  margin-bottom: 0;
  margin-top: .75rem; }

.provisions-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  border-left: 1px;
  border-right: 1px;
  box-sizing: border-box;
  border-collapse: collapse; }

.provisions-grid-3columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0; }

.provisions-grid-4columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0; }

.provisions-grid-5columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0; }

.provisions-grid-6columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0; }

.provisions-grid-7columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0; }

.provision-column1 {
  grid-column: 1;
  border-top: 1px solid;
  border-collapse: collapse;
  padding-top: .75rem; }
  .provision-column1:nth-child(1) {
    border-top: none; }

.provision-column2 {
  grid-column: 2;
  border-top: 1px solid;
  border-collapse: collapse;
  padding-top: .75rem; }
  .provision-column2:nth-child(2) {
    border-top: none; }

.provision-column3 {
  grid-column: 3;
  border-top: 1px solid;
  border-collapse: collapse;
  padding-top: .75rem; }
  .provision-column3:nth-child(3) {
    border-top: none; }

.provision-column4 {
  grid-column: 4;
  border-top: 1px solid;
  border-collapse: collapse;
  padding-top: .75rem; }
  .provision-column4:nth-child(4) {
    border-top: none; }

.provision-column5 {
  grid-column: 5;
  border-top: 1px solid;
  border-collapse: collapse;
  padding-top: .75rem; }
  .provision-column5:nth-child(5) {
    border-top: none; }

.provision-column6 {
  grid-column: 6;
  border-top: 1px solid;
  border-collapse: collapse;
  padding-top: .75rem; }
  .provision-column6:nth-child(6) {
    border-top: none; }

.provision-column7 {
  grid-column: 7;
  border-top: 1px solid;
  border-collapse: collapse;
  padding-top: .75rem; }
  .provision-column7:nth-child(7) {
    border-top: none; }

.one-provision {
  border: 2px solid;
  border-color: #EDF5E1;
  padding: .375rem;
  margin-bottom: .75rem; }

.bio-box {
  border-style: solid;
  border-radius: .25rem;
  border-width: 1px;
  background-color: #EDF5E1;
  color: #8D8741;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none; }

/*# sourceMappingURL=p4.css.map */
