/* Alt - Ctrl - C to watch scss for changes */
/* or cmd-shift P and Atom Sass Compile */

/* #8D8741 #659DBD #DAAD86 #BC986A #FBEEC1 */
/* https://www.jordanprindledesigns.com/blog/color-palettes #10 */
/* Storm: #222c3c | Jean: #999ea7 | Honey: #d8b26e | Nude: #b69b7d | Cream: #e2e0d5 */

/* Global */

/* Use If statements for different themes */
// https://sass-lang.com/documentation/at-rules/control/if

/* reference: https://visme.co/blog/website-color-schemes #3 Nature */
// $white: fdf5e8;
// $margin_color:  #DAAD86;
// $form_color: #659DBD;
// $background_color: #BC986A;
// $error_color: pink;
// $heading_fonts_color: #FBEEC1;
// $body_fonts_color: #FBEEC1;
// $button_color: #8D8741;
/* end reference: https://visme.co/blog/website-color-schemes #3 */

/* reference: https://visme.co/blog/website-color-schemes #4 Cool and Fresh */
$white: #fdf5e8;
$margin_color: #5CDB95;
$form_color: #379683;
$background_color: #5CDB95;
$error_color: Crimson;
$heading_fonts_color: #05386B;
$body_fonts_color: #EDF5E1;
$button_color: #8D8741;
/* end reference: https://visme.co/blog/website-color-schemes #3 */

$TODO_COLOR: FireBrick;

body, html .body {
  font-family: Garamond, serif;
  color: $body_fonts_color;
  background-color: $background_color;
}

// input, select, textarea { //Commented out 5/11/20
//   font-family: inherit;
//   font-size: inherit;
//   color: $body_fonts_color;
//   background-color: $button_color;
// }

input, button, textarea, select {
  border-style: solid;
  border-radius: .25rem;
  border-width: 1px;
  border-color: $body_fonts_color;
  background-color: $button_color;
  color: $body_fonts_color;
  display: inline-block;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
}

h1,h2,h3,h4 {
  text-align: center;
  font-family: Helvetica Neue, sans-serif;
  color: $heading_fonts_color;
}

a {
  color: $body_fonts_color;
}

ul {
    list-style-type: none;
}

.TODO {
  color: $TODO_COLOR;
}

.error {
  color: $error_color;
}

.button-submit {
  border-style: solid;
  border-radius: .25rem;
  border-width: 1px;
  background-color: #8D8741;
  color: $body_fonts_color;
  display: inline-block;
  // font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  margin: .375rem;
  // font-size: 1rem;
  // line-height: 1.5;
}

.button-label {
  // background-color: #8D8741;
  color: $body_fonts_color;
  display: inline-block;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;

  border-radius: .25rem;
}


.input-format {
  // background-color: #8D8741;
  color: $body_fonts_color;
  display: inline-block;
  // font-weight: 400;
  text-align: left;
  vertical-align: middle;
  user-select: none;
  padding: .375rem .75rem;
  // font-size: 1rem;
  line-height: 1.5;
  border-style: solid;
  border-radius: 4rem;
}


/* Login Page */
.login-grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.login-left-margin {
  grid-column: 1;
  background-color: $margin_color;
  padding-top: 1rem;
}

.login-right-margin {
  grid-column: 3;
  background-color: $margin_color;
  padding-top: 1rem;

}

.login-middle {
  grid-column: 2;
  text-align: center;
  align-content: center;
  background-color: $form_color;
  color: $body_fonts_color;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.grid-login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 2rem;
}

/* Sign Up Page */
#info_a {
  border: 1p;
  background-color: $form_color;
}

#form_errors_hidden {
  display: none,
}

#form_errors_displayed {
  color: $error_color,
}

.summary-grid {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
}  //Add spacing between two columns

.summary-left-margin {
  grid-column: 1;
  background-color: $margin_color;
}

.summary-right-margin {
  grid-column: 4;
  background-color: $margin_color;
}

.summary-left {
  grid-column: 2;
  text-align: left;
  align-content: center;
  background-color: $form_color;
  color: $body_fonts_color;
}

.summary-right {
  grid-column: 3;
  text-align: left;
  align-content: center;
  background-color: $form_color;
  color: $body_fonts_color;
}
//
// .sign_up-middle {
//   grid-column: 2 / 3;
//   text-align: center;
//   align-content: center;
//   background-color: green;
// }

.borders_top_sides {
  border-top-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  border-width: thin;
  margin-bottom: 0;
}

.borders_bottom_sides {
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  border-width: thin;
}

.borders_sides {
  border-left-style: dotted;
  border-right-style: dotted;
  border-width: thin;
  margin-bottom: 0;
}

.bold-centered {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: .75rem;
}

/* Summary Page */
.provisions-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    border-left: 1px;
    border-right: 1px;
    box-sizing: border-box;
    border-collapse: collapse;
}

.provisions-grid-header {
  grid-column: 1 / 6;
  margin-top: 0;
  margin-bottom: .75rem;
}

.provision-name {
  grid-column: 1;
}

.provision-frequency {
  grid-column: 2;
}

.provision-status {
  grid-column: 3;
}

.provision-expiriation_date {
  grid-column: 4;
}

.provision-debug {
  grid-column: 5;
}

.provision-edit-button {
  grid-column:6;
}

// fields = ['name', 'type', 'due_date','background_info']
.needs-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    border-left: 1px;
    border-right: 1px;
    box-sizing: border-box;
    border-collapse: collapse;
}

.needs-grid-header {
  grid-column: 1 / 4;
  margin-top: 0;
  margin-bottom: .75rem;
}

.need-name {
  grid-column: 1;
}

.need-type {
  grid-column: 2;
}

.need-due_date {
  grid-column: 3;
}

.need-debug {
  grid-column: 4;
}

.need-edit-button {
  grid-column:5;
}
/* Begin CSS Grid Practice */
/* Delete when done */
// .grid-container {
//   display: grid;
//   //grid-template-columns: repeat(3, 1fr);
//   grid-template-columns: auto auto auto auto auto auto;
//   grid-gap: 10px;
//   grid-gap: 10px;
//   grid-auto-rows: minmax(100px, auto);
//   justify-content: normal;
//   align-content: center;
//
//   grid-template-columns: auto auto auto auto auto auto;
//   grid-gap: 10px;
//   background-color: #2196F3;
//   padding: 10px;
// }
//
// .grid-container > div {
//  background-color: rgba(255, 255, 255, 0.8);
//  text-align: center;
//  padding: 20px 0;
//  font-size: 30px;
// }
//
// .one {
//   grid-column: 1 / 3;
//   grid-row: 1;
// }
// .one_one{
//   grid-column: 4;
//   grid-row: 1;
// }
// .two {
//   grid-column: 2 / 4;
//   grid-row: 1 / 3;
// }
// .three {
//   grid-column: 1;
//   grid-row: 2 / 5;
// }
// .four {
//   grid-column: 3;
//   grid-row: 3;
// }
// .five {
//   grid-column: 2;
//   grid-row: 4;
// }
// .four_five{
//   grid-column: 5;
//   grid-row: 4;
// }
// .six {
//   grid-column: 3;
//   grid-row: 4;
// }
// .item8 {
//   grid-area: 1 / 2 / 5 / 6;
// }
/*End CSS Grid Practice*/
