{% extends "base_generic.html" %}

{% block title %}
<title>Match Need</title>
{% endblock %}

{% block content %}
<h1>My Needs and Provisions</h1>

<div class="TODO">

</div>

<h2>Provision</h2>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <h3>{{provision.name}}</h3>
    <div class="provisions-grid-4columns">
      <span class="needs-provision-frequency"><strong>Frequency</strong></span>
      <span class="needs-provision-status"><strong>Status</strong></span>
      <span class="needs-provision-expiration_date"><strong>Expiration Date</strong></span>
      <span class="provision-column4"></span>

      <span class="needs-provision-frequency">{{provision.frequency}}</span>
      <span class="needs-provision-status">{{provision.status}}</span>
      <span class="needs-provision-expiration_date">{{provision.expiration_date}}</span>
      <span class="provision-column4"><a href="/provision/{{provision.id}}/update"
        class="button-submit" style="color:white">Edit Item</a></span>
        <!-- spaces are important for url tab -->
      </div>
  </div>
  <div class="login-right-margin"></div>
</div>
<br>

<h2>Candidate Needs</h2>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    {%if needs %}
    <div class="provisions-grid-4columns">
      <!-- fields = ['name', 'type', 'due_date','background_info','provided_from'] -->
      <span class="need-name"><strong>Need</strong></span>
      <span class="need-type"><strong>Type</strong></span>
      <span class="need-due_date"><strong>Due Date</strong></span>
      <span class="provision-column4"></span>

      {% for need in needs %}
        <span class="need-name">{{need.name}}:member_id:{{need.member_id}}</span>
        <span class="need-type">{{need.type}}</span>
        <span class="need-due_date">{{need.due_date}}</span>
        <span class="provision-column4">
          <a href="{% url 'need_contact_info' %}{{need.id}}/{{provision.id}}"
          class="button-submit" style="color:white">Contact Info for Provision: {{provision.id}}</a>
        </span>
        {% empty %}
            <p class="bold-centered need-status error TODO">No needs Yet Line 1 Delete if not Needed</p>
      {% endfor %}
        </div>

        {% else %}
        <p class="bold-centered error">No Needs Yet</p>
        {% endif %}



    </div>
    <div class="login-right-margin"></div>
  </div>
    <br>
 <div class="button-centered">
    <a class="button-submit" style="color:white" href="{% url 'summary'%}">Cancel</a>
  </div>
  <div class="bold-centered">
   <form  method="post" action="{% url 'logout' %}">
     {% csrf_token %}
     <input type="submit" class="button-submit" style="color:white"  value="Logout" />
   </form>
  <!-- <div class="login-right-margin"></div> Commented out 5/22/20-->
 </div>

{% endblock %}
