{% extends "base_generic.html" %}

{% block title %}
<title>Update Profile</title>
{% endblock %}
{% block content %}
<h1>Update Profile</h1>
<div class="TODO">

</div>
<div class="bold-centered">
  <span class=" "><a href="{%url 'password_change'%}"
    class="button-submit" style="color:white">Change Password</a>
  </span>
  <span class=" "><a href="{%url 'end_membership' %}{{my_profile.id}}"
    class="button-submit" style="color:white">End My Membership {{my_profile.id}}</a>
  </span>
</div>

<br>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <h4 id="form_errors_displayed" class="error"></h4>
    <form action="" method="post">
      <table>
        {% csrf_token %}
        {{form.as_table}}
      </table>
      <input class="btn btn-primary" style="color:white" type="submit" value="Submit">
    </form>
  </div>
  <div class="login-right-margin"></div>
</div>
<br>
<div class="button-centered">
  <a class="button-submit" style="color:white" href="{% url 'summary'%}">Cancel</a>
</div>
{% load staticfiles %}
<script src="{% static 'share/p4member_profile_update.js' %}"></script>
{% endblock %}
