{% extends "base_generic.html" %}

{% block title %}
<title>Create Need</title>
{% endblock %}
{% block content %}
<h1>New need</h1>
<br>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <form action="" method="post">
      <table>
        {% csrf_token %}
        {{form.as_table}}
      </table>
      <input class="btn btn-primary" style="color:white" type="submit" value="Submit">
    </form>
  </div>
  <div class="login-right-margin"></div>
</div>
<br>
<!-- <div class="login-grid"> -->
  <!-- <div class="login-left-margin"></div>
  <div class="login-middle"> -->
    <div class="bold-centered">
      <a class="button-submit" style="color:white" href="{% url 'summary'%}">Cancel</a>
    </div>
    <!-- <div class="login-right-margin"></div>
  </div> -->
<!-- </div> -->

{% load staticfiles %}
<script src="{% static 'share/common.js' %}"></script>
<script src="{% static 'share/p4need_form.js' %}"></script>
{% endblock %}
