{% extends "base_generic.html" %}

{% block title %}
<title>Contact Info</title>
{% endblock %}

{% block content %}
<h1>Contact Info</h1>

<div class="TODO">

</div>

<div class="one-provision">
  <h2>{{contact.name}} Contact Information</h2>
  <div class="login-grid">
    <div class="login-left-margin"></div>
    <div class="login-middle">
      <div class="provisions-grid-4columns">
        <span class="provision-column1"><strong>Email</strong></span>
        <span class="provision-column2"><strong>Text/Phone Number</strong></span>
        <span class="provision-column3"><strong>City</strong></span>
        <span class="provision-column4"><strong>State</strong></span>
        <span class="provision-column1">{{email}}</span>
        <span class="provision-column2">{{contact.phone_number}}</span>
        <span class="provision-column3">{{contact.city}}</span>
        <span class="provision-column4">{{contact.state}}</span>
      </div>
      <h3>Contact Bio:</h3>
      <text class="bio-box">{{contact.member_bio}}</p></text>
    </div>
    <div class="login-right-margin"></div>
   </div>
</div>
<br><br>
<div>
<h3>Candidate Need</h3>
<h4>{{need.name}}</h4>
<div class="login-grid">
<div class="login-left-margin"></div>
  <div class="login-middle">
    <div class="provisions-grid-3columns">
      <span class="provision-column1"><strong>Type</strong></span>
      <span class="provision-column2"><strong>Status</strong></span>
      <span class="provision-column3"><strong>Due Date</strong></span>
      <span class="provision-column1">{{need.type}}</span>
      <span class="provision-column2">{{need.status}}</span>
      <span class="provision-column3">{{need.expiration_date}}</span>
    </div>
    <div>{{need.background_info}}</div>
  </div>
  <div class="login-right-margin"></div>
 </div>
</div>

<div>
  <h3>My Provision</h3>
  <h4>{{provision.name}}</h4>
 <div class="login-grid">
  <div class="login-left-margin"></div>
   <div class="login-middle">
     <div class="provisions-grid-4columns">
       <span class="provision-column1"><strong>Type</strong></span>
       <span class="provision-column2"><strong>Frequency</strong></span>
       <span class="provision-column3"><strong>Status</strong></span>
       <span class="provision-column4"><strong>Expiration Date</strong></span>
       <span class="provision-column1">{{provision.type}}</span>
       <span class="provision-column2">{{provision.frequency}}</span>
       <span class="provision-column3">{{provision.status}}</span>
       <span class="provision-column4">{{provision.expiration_date}}</span>
       </span>
      </div>
  </div>
  <div class="login-right-margin"></div>
 </div>
</div>

<div class="button-centered">
    <a class="button-submit" style="color:white" href="{% url 'status_update'%}1/{{provision.id}}/2/{{contact.member_id}}">
      Click Here When You Have Contacted a Potential Receiver For This Need</a>
</div>
<div class="button-centered">
    <a class="button-submit" style="color:white" href="{% url 'status_update'%}1/{{provision.id}}/1/{{contact.member_id}}">
      Click Here If This is Not What the Person Wanted</a>
</div>
<div class="button-centered">
    <a class="button-submit" style="color:white" href="{% url 'status_update'%}1/{{provision.id}}/3/{{contact.member_id}}/">
      Click Here When You Have Provided This Item</a>
</div>
<div class="button-centered">
    <a class="button-submit" style="color:white" href="{% url 'status_update'%}1/{{provision.id}}/5/{{contact.member_id}}">
      Click If You Can No Longer Provide This Item</a>
</div>

<div class="button-centered">
   <a class="button-submit" style="color:white" href="{% url 'summary'%}">Cancel</a>
</div>
  <div class="bold-centered">
  <form  method="post" action="{% url 'logged_out' %}">
    {% csrf_token %}
    <input type="submit" class="button-submit" style="color:white"  value="Logout" />
  </form>
</div>
{% endblock %}
