{% extends "base_generic.html" %}

{% block title %}
<title>Provision Not Available</title>
{% endblock %}

{% block content %}
<h1>Provision No Longer Available</h1>

<div class="TODO">

</div>
<h2 class="error">Provision {{provision}} {{error}}<h2>

<div class="button-centered">
  <a class="button-submit" style="color:white" href="{% url 'summary'%}">Return to Summary</a>
<form  method="post" action="{% url 'logged_out' %}">
  {% csrf_token %}
  <input type="submit" class="button-submit" style="color:white"  value="Logout" />
</form>
</div>
{% endblock %}
