{% extends "base_generic.html" %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

<!-- Someday List:
validate zipcode OR city and state
look up zipcode and fill in city and state -->

<!-- Django code for login: https://github.com/django/django/blob/master/django/contrib/admin/models.py -->
<!-- Django reference for auth: https://docs.djangoproject.com/en/3.0/ref/contrib/auth/ -->
<!-- More reference material: https://docs.djangoproject.com/en/3.0/topics/auth/customizing/#django.contrib.auth.models.BaseUserManager -->
<!-- https://docs.djangoproject.com/en/3.0/topics/auth/default/#topics-auth-creating-users -->


{% block content %}
<h1>Sign Up for Community Share</h1>
<h2>Your Info</h2>
<div class="TODO">

</div>
<p id="form_errors_hidden" style="display:none">{{form_errorsJSONSTR}}</p>
<h4 id="form_errors_displayed" class="error"></h4>
<div id="info_a" class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <form id="info_a_form" class="sign_up-right" method="post">
      {% csrf_token %}
      {{ sign_up_a_form.as_p}}
      {{ sign_up_b_form.as_p}}
      <button id="request_enrollment" class="button-submit" type="submit" style="float:bottom;">Request Enrollment</button>
    </form>
    </div>
    <div class="login-right-margin"></div>
</div>

<br>
<br>


<div class="bold-centered">
  <form class="" method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <input class="button-submit" type="submit" value="Cancel" />
  </form>
</div>

{% load staticfiles %}
<script src="{% static 'share/common.js' %}"></script>
<script src="{% static 'share/p4sign_up.js' %}"></script>

{% endblock %}
