{% extends "base_generic.html" %}

{% block title %}
<title>My Summary</title>
{% endblock %}

{% block content %}
<h1>My Needs and Provisions</h1>

<div class="TODO">
    <p>Add update user profile capability after login</p>
    <p>Add check when user matches provision to his own need or vice-versa</p>
    <p>rename provision/need grids by number of columns</p>
    <p>User {{user.username}}:{{user.id}} is authenticated: {{user.is_authenticated}}
    is.moderator {{my_profile.is_moderator}}</p>
    <p>if user is not approved screen should print their email and ask if it is correct</p>
    <p>Use { url format for hrefs}</p>
    <p>Check for pending without provided_to or provided_from and when user does not exist</p>
</div>

<div class="bold-centered">
  <span class=" "><a href="{%url 'create_provision_form'%}"
    class="button-submit" style="color:white">Add New Provision</a>
  </span>
  <span class=" "><a href="{%url 'need_form'%}"
    class="button-submit" style="color:white">Add New Need</a>
  </span>
</div>
<br>
{% if provisions_active|length %}
<h2>Active Provisions</h2>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <div class="provisions-grid-6columns">
      <span class="provision-column1"><strong>Provision</strong></span>
      <span class="provision-column2"><strong>Provided To</strong></span>
      <span class="provision-column3"><strong>Status</strong></span>
      <span class="provision-column4"><strong></strong></span>
      <span class="provision-column5"></span>
      <span class="provision-column6"></span>
     {% for provision in provisions_active %}
      <span class="provision-column1">{{provision.0}}</span>
      <span class="provision-column2">for {{provision.1}}</span>
      <span class="provision-column3">{{provision.2}}</span>
      <span class="provision-column4"><a href="{% url 'status_update'%}1/{{provision.3}}/3/{{provision.4}}/"
        class="button-submit" style="color:white">Provided</a></span>
      <span class= "provision-column5"><a href="{% url 'status_update'%}1/{{provision.3}}/1/{{provision.4}}/"
        class="button-submit" style="color:white">Make Available</a></span>
      <span class= "provision-column6"><a href="{% url 'status_update'%}1/{{provision.3}}/1/{{provision.4}}/"
        class="button-submit" style="color:white">Retract</a></span>
        <!-- spaces are important for url tab -->
      <!-- <span class="provision-match-button"><a href="{ url 'match_need_to_provision' }/{{provision.id}}/{{user.id}}" -->
        <!-- class="button-submit" style="color:white">Match Need</a></span> -->
        {% endfor %}
      </div>
  </div>
  <div class="login-right-margin"></div>
</div>
{% endif %}

<br>
{% if needs_active|length %}
<h2>Active Needs</h2>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <div class="provisions-grid-6columns">
      <span class="provision-column1"><strong>Need</strong></span>
      <span class="provision-column2"><strong>Provided From</strong></span>
      <span class="provision-column3"><strong>Status</strong></span>
      <span class="provision-column4"><strong></strong></span>
      <span class="provision-column5"></span>
      <span class="provision-column6"></span>
     {% for need in needs_active %}
      <span class="provision-column1">{{need.0}}</span>
      <span class="provision-column2">from {{need.1}}</span>
      <span class="provision-column3">{{need.2}}</span>
      <span class="provision-column4"><a href="{% url 'status_update'%}2/{{need.3}}/3/{{need.4}}/"
        class="button-submit" style="color:white">Provided</a></span>
      <span class= "provision-column5"><a href="{% url 'status_update'%}2/{{need.3}}/1/{{need.4}}/"
        class="button-submit" style="color:white">Make Available</a></span>
      <span class= "provision-column6"><a href="{% url 'status_update'%}2/{{need.3}}/1/{{need.4}}/"
        class="button-submit" style="color:white">Retract</a></span>
        <!-- spaces are important for url tab -->
      <!-- <span class="provision-match-button"><a href="{ url 'match_need_to_provision' }/{{provision.id}}/{{user.id}}" -->
        <!-- class="button-submit" style="color:white">Match Need</a></span> -->
        {% endfor %}
      </div>
  </div>
  <div class="login-right-margin"></div>
</div>
{% endif %}
<h2>Provisions</h2>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    {%if provisions %}
    <div class="provisions-grid">
      <span class="provision-name"><strong>Provision</strong></span>
      <span class="provision-frequency"><strong>Frequency</strong></span>
      <span class="provision-status"><strong>Status</strong></span>
      <span class="provision-expiration_date"><strong>Expiration Date</strong></span>
      <!-- <span class="provision-debug TODO">For debugging</span> -->
      <span class="provision-edit-button"></span>
      <span class="provision-match-button"></span>
     {% for provision in provisions %}
      <span class="provision-name">{{provision.name}}</span>
      <span class="provision-frequency">{{provision.frequency}}</span>
      <span class="provision-status">{{provision.status}}</span>
      <span class="provision-expiration_date">{{provision.expiration_date}}</span>
      <!-- <span class="provision-debug">{{provision.id}} {{provision.member_id}}</span> -->
      <span class="provision-edit-button"><a href="/provision/{{provision.id}}/update"
        class="button-submit" style="color:white">Edit Item</a></span>
        <!-- spaces are important for url tab -->
      <span class="provision-match-button"><a href="{% url 'match_need_to_provision' %}/{{provision.id}}/{{user.id}}"
        class="button-submit" style="color:white">Match Need</a></span>
        {% empty %}
            <p class="bold-centered provision-status error TODO">No Provisions Yet line 1b Delete if not used</p>
        {% endfor %}
      </div>

      {% else %}
      <p class="bold-centered error TODO">No Open Provisions</p>
      {% endif %}

  </div>
  <div class="login-right-margin"></div>
</div>
<br>
<h2>Needs</h2>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    {%if needs %}
    <div class="provisions-grid">
      <span class="provision-name"><strong>Need</strong></span>
      <span class="provision-frequency"><strong>Type</strong></span>
      <span class="provision-status"><strong>Status</strong></span>
      <span class="provision-expiration_date"><strong>Due Date</strong></span>
      <span class="provision-edit-button"></span>
      {% for need in needs %}
        <span class="provision-name">{{need.name}}:member_id:{{need.member_id}}</span>
        <span class="provision-frequency">{{need.type}}</span>
        <span class="provision-status">{{need.status}}</span>
        <span class="provision-expiration_date">{{need.due_date}}</span>
        <span class="provision-edit-button"><a href="/need/{{need.id}}/update"
          class="button-submit" style="color:white">Edit Item</a></span>

        <span class="provision-match-button"><a href="{% url 'match_provision_to_need' %}/{{need.id}}/{{user.id}}"
          class="button-submit" style="color:white">Match Provision</a></span>
          {% empty %}
              <p class="bold-centered need-status error TODO">No needs Yet Line 1 Delete if not Needed</p>
          {% endfor %}
        </div>

        {% else %}
        <p class="bold-centered error">No Open Needs</p>
        {% endif %}



    </div>
    <div class="login-right-margin"></div>
  </div>
    <br>
  <div class="bold-centered">
  <form  method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <input type="submit" class="button-submit" style="color:white"  value="Logout" />
  </form>
  <div class="login-right-margin"></div>
</div>
{% endblock %}
