{% extends "base_generic.html" %}

{% block title %}
<title>My Summary</title>
{% endblock %}

{% block content %}
<h1>My Needs and Provisions</h1>

<div class="TODO">
    <p>Format provision form</p>
    <p>Format Expiration Date</p>
    <p>User {{user.username}}:{{user.id}} is authenticated: {{user.is_authenticated}}
    is.moderator {{my_profile.is_moderator}}</p>
    <p>if user is not approved screen should print their email and ask if it is correct</p>
    <p>Highlight expired items mark unavailable, don't display</p>
    <p>Context:</p><p>{{user_is_approved}} {{my_profile}}</p>
    <p></p>
</div>

<div class="bold-centered">
  <p class="TODO">Navbar TODO use CSS Grid:</p>
  <span class=" "><a href="{%url 'create_provision_form'%}"
    class="button-submit" style="color:white">Add New Provision</a>
  </span>
  <span class=" "><a href="{%url 'need_form'%}"
    class="button-submit" style="color:white">Add New Need</a>
  </span>
</div>
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <p class="bold-centered provisions-grid-header" >Provisions</p>
    {%if provisions %}
    <div class="provisions-grid">
      <span class="provision-name">Provision</span>
      <span class="provision-frequency">Frequency</span>
      <span class="provision-status">Status</span>
      <span class="provision-expiriation_date">Expiration Date</span>
      <span class="provision-debug TODO">For debugging</span>
      <span class="provision-edit-button"></span>
     {% for provision in provisions %}
      <span class="provision-name">{{provision.name}}</span>
      <span class="provision-frequency">{{provision.frequency}}</span>
      <span class="provision-status">{{provision.status}}</span>
      <span class="provision-expiriation_date">{{provision.expiration_date}}</span>
      <span class="provision-debug">{{provision.id}} {{provision.member_id}}</span>
      <span class="provision-edit-button"><a href="/provision/{{provision.id}}/update"
        class="button-submit" style="color:white">Edit Item</a></span>
        {% empty %}
            <p class="bold-centered provision-status error TODO">No Provisions Yetline 2 Delete if not used</p>
        {% endfor %}
      </div>

      {% else %}
      <p class="bold-centered error TODO">No Provisions Yet line 2 Delete if not used</p>
      {% endif %}



  </div>
  <div class="login-right-margin"></div>
</div>
<br>
<!-- ******* -->
<div class="login-grid">
  <div class="login-left-margin"></div>
  <div class="login-middle">
    <p class="bold-centered needs-grid-header" >Needs</p>
    {%if needs %}
    <div class="needs-grid">
      <!-- fields = ['name', 'type', 'due_date','background_info','provided_from'] -->
      <span class="need-name">Need</span>
      <span class="need-type">Type</span>
      <span class="need-due_date">Due Date</span>
      <span class="need-debug TODO">For debugging</span>
      <span class="need-edit-button"></span>
      {% for need in needs %}
        <span class="need-name">{{need.name}}</span>
        <span class="need-type">{{need.type}}</span>
        <span class="need-due_date">{{need.due_date}}</span>
        <span class="need-debug">{{need.id}} {{need.member_id}}</span>
        <span class="need-edit-button"><a href="/need/{{need.id}}/update"
          class="button-submit" style="color:white">Edit Item</a></span>
          {% empty %}
              <p class="bold-centered need-status error TODO">No needs Yet Line 1 Delete if not Needed</p>
          {% endfor %}
        </div>

        {% else %}
        <p class="bold-centered error">No Needs Yet</p>
        {% endif %}



    </div>
    <div class="login-right-margin"></div>
  </div>
    <br>
  <div class="bold-centered">
  <form  method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <input type="submit" class="button-submit" style="color:white"  value="Logout" />
  </form>
  <div class="login-right-margin"></div>
</div>
{% endblock %}
