<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Community Share</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'share/p4.css' %}">
  <link rel="shortcut icon" href="{% static 'share/favicon.ico' %}">

</head>
<body class="body">
  <div class="container-fluid">
    {% block header%}

  </div>

  {% endblock %}
  {% block content %}

{% endblock %}

</body>
</html>
