<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Community Share</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- commented out 5/7/20 to save load time -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->

  <!-- commented out 5/6/20 -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'share/p4.css' %}">

</head>
<body class="body">
  <div class="container-fluid">
    {% block header%}

  </div>

  {% endblock %}
  {% block content %}

{% endblock %}


</body>
</html>
